<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false" backupGlobals="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="SicoobBundle Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Classe do Kernel do projeto Symfony -->
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <!-- Ambiente de teste -->
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="1"/>
  </php>
</phpunit>
